/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

.wrapper {
}

header {

}

header img {
	width:100%;
	height:auto;

}

.sidebarmenu {
	color:white;
	background-color:purple;
	width:60%;
	position: relative;
	z-index: 9999;
}

/* ################## nav ################## */ 

nav {
background-color:black;
height:3em;
}

nav img:first-of-type  { 
	width:6%;
	height:auto;
	background-color:white;
	margin-left:1em;
 }

 nav img:nth-of-type(2)  { 
	width:13%;
	height:auto;
	margin-left:2em;
	margin-top:.5em;
 }

/* ######################################### */ 


/* ################## body ################# */

body {
background-color:black;
height:30em;
}

section {
	background-color:black;
	color:white;
}

body section:nth-of-type(odd) {           /*oneven sections in de body kleur geven */
	background-color:#121212;
}

/* ######################################### */ 

footer {
background-color:grey;
height:10em;
}
