/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin:0;
  padding:0;
}

.wrapper {
	position: relative;
}

header {

}


.headerimg {
	width:100%;
	height:auto;

}

/* ################## sidebar hamburgermenu ################## */ 

.sidebarmenu {
	color:white;
	background-color:#0F0F0F;
	position:absolute;
	left:0px;
	font-size:1.25rem;
	padding:.4em;

}


.sidebarmenu ul, li {
		list-style-type: none;
		margin:5px;
		padding:13px;
		width:10em;
}

.sidebarmenu ul li img:nth-of-type(even){
			float:right;
			width:5%;
			margin-top:.5em;
			margin-right:.3em;
}

 .hamburgerinside {	/* hamburger menu in side bar icon */
	margin-left:90%;
	padding-top: .6em;
	cursor:pointer;
}

/* ########################################################### */ 



/* ################## nav ################## */ 
nav {
	background-color:#121212;
}


nav div{
	background-color:#121212;
	display:flex;
	justify-content: space-between;
}

.searchbar {
	background-color:#242525;
	border:1em;
	padding-left:1em;
	font-family:bold;
	font-size:1em;
	width:20em;
}

nav div img {
	align-self:center;
}

nav div img:first-of-type  { 		/* hamburger menu */
	width:6%;
	height:auto;
	cursor:pointer;
	max-width:1.2em;
 }

 nav div img:nth-of-type(2)  { 		/* imdb menu */
	width:13%;
	height:auto;
	max-width:3em;
 }

 nav div img:nth-of-type(3)  { 		/* search icon menu */
	width:7%;
	height:auto;
	text-align:right;
	max-width:1.2em;
 }

 nav div p {						/* sign in menu */
 	color:white;
 }

.menu {
		padding:1em;
}



/* ######################################### */ 


/* ################## body ################# */

body {
background-color:black;
height:30em;
}

.yellowtitle {
	color:#e7af1f;
}

section {
	background-color:black;
	color:white;
	padding:.6em;
	padding-left:1em;
}

/* 2E ARTICLE */

body section:nth-of-type(2) {

}

body section:nth-of-type(2) img {	/* EERSTE IMAGE (FULLWIDTH) */
	padding-top:1em;
	height:auto;
	width:95%;
}

body section:nth-of-type(2) p {
	padding-top:0.5em;
	font-size:1.2em;
	color:#e4e0d8;
}

	.slider {
		display: flex;
		overflow-x: auto; 			/* SLIDER 1 https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
	}

	.slider2 {
		display:flex;
		overflow-x: auto; 
	}

	.slider2 button {			/* watchlist button */
		border-radius:.3em;
		color:#639FED;
		font-size:1em;
		font-family:bold;
		padding:.5em;
		margin:auto;
		background-color:#242227;
		border: none;
	}

	.slide2 p {
		text-overflow: ellipsis;
		padding:.5em;
	}

	.slide2 h2 {
		color:white;
	}

	.slider #slide-1, #slide-2, #slide-3, #slide-4, #slide-5, #slide-6, #slide-7, #slide-8 {
		max-width:17.2em;
		min-width:17.2em;
	}

	.slide2 #slide-1 {
		background-color:#242227;
	}

	.slide2 {
		padding:.3em;
	}

/* ########### */


/* 3E ARTICLE */						/*************** WHAT TO WATCH ***************/

body section:nth-of-type(3) button {  
	width:100%;
	height:3.5em;
	background-color: #b29922;
	border-radius:.3em;
	color:white;
}

body section:nth-of-type(3) {
	padding-top:2em;
	padding-left:1.3em;
	padding-bottom:1.7em;
}

body section:nth-of-type(3) h1, h2 {
	padding-bottom:0.4em;
}

body section:nth-of-type(3) h1 {
	font-size:1.7em;
}

/* ########### */

/* 4E ARTICLE */					/*************** TOP PICKS ***************/

body section:nth-of-type(4) {

}


body section:nth-of-type(4) p {
	font-size:1.2em;
	color:#e4e0d8;
	padding-bottom:1em;
}

body section:nth-of-type(4) h2 {
	font-size:1.5em;
	color:#e4e0d8;
}

body section:nth-of-type(4) h2::first-letter {  /* GEEL STREEPJE BIJ TOP PICKS */
	color:#b29922;
}


/* ########### */

body section:nth-of-type(even) {           /*even sections in de body kleur geven */
	background-color:#121212;
}


/* ######################################### */ 


/* 5E ARTICLE */					/*************** FROM YOUR WATCHLIST ***************/

body section:nth-of-type(5) h2::first-letter { 
	color:#b29922;
}

/* ######################################### */ 

/* 6E ARTICLE */				/*************** FAN FAVORITES ***************/

body section:nth-of-type(6) h2::first-letter {  
	color:#b29922;
}

/* ######################################### */ 

/* 7E ARTICLE */				/*************** MORE TO WATCH ***************/

body section:nth-of-type(7) h2::first-letter {  
	color:#b29922;
}

body section:nth-of-type(7) p {  
	padding-bottom:.8em;
}

body section:nth-of-type(7) button {  
			border-radius:.3em;
		background-color:black;
		color:white;
		font-size:1em;
		font-family:bold;
		padding:.5em;
		margin:auto;
		width:13em;
		border-color:white;
}

/* ######################################### */ 

/* 8E ARTICLE */				/*************** EXLUSIVE VIDEO'S ***************/



/* ######################################### */ 

/* 9E ARTICLE */				/*************** IMDB ORIGINALS ***************/
body section:nth-of-type(9) img {
	padding-top:1em;
	height:auto;
	width:95%;
}
/* ######################################### */ 

/* 14E ARTICLE */				/*************** COMING SOON TO THEATERS ***************/

body section:nth-of-type(14) img {	
	padding-top:1em;
	height:auto;
	width:95%;
}

/* ######################################### */ 

/* 16E ARTICLE */				/*************** EDITORS' PICKS ***************/

body section:nth-of-type(16) img {	
	padding-top:1em;
	height:auto;
	width:95%;
}

/* ######################################### */ 

/* 17E ARTICLE */				/*************** BORN TODAY ***************/

body section:nth-of-type(17) img {	/* EERSTE IMAGE */
	padding:.5em;
}

.slider17 {
	display:flex;
	overflow-x:auto;
}

body section:nth-of-type(17) h2::first-letter {  /* GEEL STREEPJE BIJ TITEL */
	color:#b29922;
}

/* ######################################### */ 

/* 18E ARTICLE */			/*************** TOP NEWS ***************/

body section:nth-of-type(18) h2::first-letter { 
	color:#b29922;
}

body section:nth-of-type(18) button {
	color:white;
	background-color:#121212;
	border-radius:25px;
	border-color:#aaaaaa;
	height:3em;
	margin-top:2em;
	padding:.85em 2em 2em 2em;
	font-size:.65em;

}

body section:nth-of-type(18) p {
	padding-left:2em;
}

/* ######################################### */ 


.topnewsslider {
	display:flex;
	overflow-x: auto;
}

.imdbapp {
		text-align:center;
}

.imdbappbutton {
			border-radius:.3em;
		background-color:#b29922;
		color:white;
		font-size:1em;
		font-family:bold;
		padding:.5em;
		margin:auto;
		border: none;
		width:13em;
}

footer div {
	display:flex;
	justify-content: space-around;
	padding:1.5em;
	padding-left:3em;
}

footer p {
	color:white;
	text-align:center;
	padding-top:1em;
	padding-bottom:2em;
	color:grey;
}

footer img {
	width:20%;
	height:auto;
}

 @media only screen and (min-width: 1100px) { 			/******************* REPONSIVE GEDEELTE CSS *******************/

 	.headerimg {
 		width:65%;
 	}

 	.headerimgandtekst {
 		display:flex;
 	}

 	.headertekst {					/* P naast header afbeelding */
 		display:flex;
 		color:#e7af1f;
 		padding-bottom:.5em;
 	}

 	.rechtsheader {					/* Article naast header afbeelding */
 		overflow: hidden;
 		width:100%;
 	}

 	.rechtsheader article {
 		width:100%;
 		display: flex;
 	}


 	.headerimg1 {					/* Afbeelding naast grote header afbeelding*/
 		width:20%;
 		height: auto;

 	}

 	.headerimg1tekst {				/* Tekst naast grote header afbeelding*/
 		color:white;
 		padding:.5em;
 		font-size:.8em;
 	}

 	 	.headerimg1tekst1 {				/* Tekst naast grote header afbeelding*/
		display: inherit;
 	}

 	.menu img:first-of-type {			/* hamburger menu */
 		max-width:1.2em;
 	}

 	.menu img:nth-of-type(2)  { 		/* imdb menu */
	height:auto;
	width:3em;
 	}

 	 .menu img:nth-of-type(3){			/* search menu */
 		max-width:1.2em;
 	}

 	body section:nth-of-type(1) {

}


	body section:nth-of-type(3) {		/* button rechts van "What to watch" */
  	display: flex;
	justify-content: space-evenly;
 	}

 	body section:nth-of-type(3) button {
  	max-width:25em;
 	}

 	body {
 		width:80%;
 		margin:0px auto;
 	}

 }

  @media only screen and (max-width: 1100px) {

  	.rechtsheader {
  		display:none;
  	}

  	.searchbar {
  		display:none;
  	}

  }
